.p-qa {
    &__container {
        max-width: 1030px;
        margin: auto;
    }

    &__wrapper {
        padding: 85px 90px 0;

        h2 {
            color: $green-cl;
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 1;
            text-align: center;
            letter-spacing: 4px;
            margin-left: 14px;
        }

        @include sp {
            padding: 35px 15px 0;
            max-width: 345px;
            margin: auto;

            h2 {
                font-size: 4rem;
                letter-spacing: 2px;
                margin-left: -2px;
            }
        }
    }

    &__content {
        margin-top: 50px;
        margin-left: 5px;
        margin-bottom: -5px;

        dd {
            margin-top: 5px;
            color: $main-text-cl;
            font-size: 1.4rem;
            line-height: 1.5;
            letter-spacing: 1.4px;
        }

        @include sp {
            margin-top: 21px;
            margin-left: 0;
            margin-bottom: 0;

            dd {
                font-size: 2.6rem;
                line-height: 1.7;
                letter-spacing: 0.7px;
                margin-top: 7px;
            }
        }
    }

    &__title {
        display: flex;

        figure {
            margin-right: 20px;
        }

        p {
            color: $green-cl;
            font-size: 1.4rem;
            line-height: 55px;
            font-weight: 400;
            letter-spacing: 1.4px;
            margin-top: 2px;
            margin-left: -8px;
        }

        @include sp {
            align-items: center;

            figure {
                min-width: 40px;
                height: 37px;
                margin-right: 10px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            p {
                font-size: 2.6rem;
                line-height: 1.7;
                letter-spacing: 1.3px;
            }
        }
    }
}
