//============================================
// clearfix
//============================================
@mixin clear {
    *zoom: 1;

    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

//============================================
// mid
//============================================
@mixin mid($flex: false) {
    @if $flex == false {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        position: absolute;
    } @else {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@mixin midimg($maxwidth: initial) {
    max-width: $maxwidth;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    @include mid;
}

//============================================
// transform
//============================================

@mixin transform($args) {
    transform: $args;
    transform: $args;
    transform: $args;
    transform: $args;
    transform: $args;
}

//============================================
// breakpoint
//============================================
@mixin sp {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin tab {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
