/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    padding: 20px;
    background: #051a2b;
    color: #fff;
    text-align: center;
}
