/* Header
------------------------------------------------------------*/
.c-header {
  /* -------------------------------- ICON MENU ------------------------------- */
  &__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    @include sp {
      width: 45px;
      height: 45px;
      margin: 15px;
      background-color: #1f4242;
      border-radius: 50%;
      cursor: pointer;
      z-index: 100;

      @include mid(true);

      &.is-active {
        background-color: $white-cl;

        span {
          background-color: transparent;

          &::before {
            top: -5px;
            background-color: #1f4242;
            @include transform(
              rotateZ(45deg) scaleX(1.25) translate(1.5px, 3px)
            );
          }

          &::after {
            top: 8px;
            background-color: #1f4242;
            @include transform(
              rotateZ(-45deg) scaleX(1.25) translate(5px, -7px)
            );
          }
        }
      }

      span {
        display: block;
        position: relative;
        height: 4px;
        width: 22px;
        background-color: $white-cl;
        border-radius: 25px;
        transition-duration: 0.5s;
        z-index: 10;

        &::before {
          content: "";
          position: absolute;
          top: -8px;
          background-color: $white-cl;
          height: 4px;
          width: 22px;
          border-radius: 25px;
          transition-duration: 0.5s;
        }

        &::after {
          content: "";
          position: absolute;
          top: 8px;
          background-color: $white-cl;
          height: 4px;
          width: 22px;
          border-radius: 25px;
          transition-duration: 0.5s;
        }
      }
    }
  }

  /* ----------------------------------- NAV ---------------------------------- */
  &__nav {
    position: fixed;
    top: 66px;
    left: 0;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1.6px;
    color: $white-cl;
    transition: all 0.7s;
    z-index: 99;

    li {
      background-image: url("../../_public/assets/img/menu-label.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 200px;
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      cursor: pointer;

      a {
        padding-left: 20px;
        transition: all 0.8s;
      }

      &:hover {
        a {
          color: #ffde00;
        }
      }
    }

    .is-active {
      color: #ffde00;
    }

    @include sp {
      width: 100%;
      height: 100vh;
      background-color: #1f4242;
      top: 0;
      left: -120%;

      &.is-showmenu {
        left: 0;

        li {
          width: 80%;
          border-bottom: 1px solid #3a5656;
          text-align: center;
          margin-bottom: 25px;

          a {
            width: 100%;
            padding-left: 0;
          }
        }
      }

      ul {
        @include mid(true);
        flex-direction: column;
        height: 100vh;
      }

      li {
        background-image: none;
      }
    }
  }

  /* ----------------------------------- LEAF---------------------------------- */
  &__leaf1 {
    position: fixed;
    top: -45px;
    left: 50%;
    transform: translateX(-265px);
    transition: all 0.7s ease-in-out;
    z-index: 99;
    mix-blend-mode: multiply;

    @include sp {
      width: 110px;
      height: 97px;
      transform: translateX(-90px);
      top: -15px;
    }
  }

  &__leaf2 {
    position: fixed;
    right: -50px;
    bottom: 115px;
    transition: all 0.7s ease-in-out;
    z-index: 99;
    mix-blend-mode: multiply;

    @include sp {
      width: 110px;
      height: 97px;
      right: -15px;
      bottom: 105px;
    }
  }

  &__menu.is-active ~ &__leaf1 {
    @include sp {
      opacity: 0.5;
      transform: translateX(-90px) !important;
      mix-blend-mode: unset;
    }
  }

  &__menu.is-active ~ &__leaf2 {
    @include sp {
      opacity: 0.5;
      transform: translateX(0) !important;
      mix-blend-mode: unset;
    }
  }

  /* ----------------------------------- DROP ---------------------------------- */
  &__drop1 {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-638px);
    transition: all 2s ease-in-out;
    animation: drop1 4s ease-in-out infinite;

    @include sp {
      display: none;
    }
  }

  &__drop2 {
    position: absolute;
    top: 560px;
    left: 50%;
    transform: translateX(-390px);
    transition: all 2s ease-in-out;
    animation: drop2 4s ease-in-out infinite;

    @include sp {
      display: none;
    }
  }

  &__drop3 {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translateX(405px);
    transition: all 2s ease-in-out;
    animation: drop3 4s ease-in-out infinite;

    @include sp {
      display: none;
    }
  }

  &__drop4 {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(620px);
    transition: all 2s ease-in-out;
    animation: drop4 4s ease-in-out infinite;

    @include sp {
      display: none;
    }
  }

  &__drop5 {
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(145px);
    transition: all 2s ease-in-out;
    animation: drop5 4s ease-in-out infinite;

    @include sp {
      display: none;
    }
  }

  &__drop6 {
    position: absolute;
    top: 87px;
    left: 50%;
    transform: translateX(-405px);
    transition: all 2s ease-in-out;
    animation: drop6 4s ease-in-out infinite;

    @include sp {
      display: none;
    }
  }

  /* ----------------------------------- TOP SCROLL ANIMATION ---------------------------------- */
  &.is-animate {
    .c-leaf1 {
      transform: translate(-273px, -50px);

      @include sp {
        transform: translate(-90px, -20px);
      }
    }

    .c-leaf2 {
      transform: translateX(50px);

      @include sp {
        transform: translateX(30px);
      }
    }

    @for $i from 1 through 6 {
      .c-drop#{$i} {
        top: -150px;
        transition: all 1s ease-in-out;
      }
    }
  }
}

/* ----------------------------------- KEYFRAMES ---------------------------------- */
@keyframes drop1 {
  0% {
    transform: translate(-638px, 10px);
  }

  50% {
    transform: translate(-638px, -10px);
  }

  100% {
    transform: translate(-638px, 10px);
  }
}

@keyframes drop2 {
  0% {
    transform: translate(-390px, -10px);
  }

  50% {
    transform: translate(-390px, 10px);
  }

  100% {
    transform: translate(-390px, -10px);
  }
}

@keyframes drop3 {
  0% {
    transform: translate(405px, 10px);
  }

  50% {
    transform: translate(405px, -10px);
  }

  100% {
    transform: translate(405px, 10px);
  }
}

@keyframes drop4 {
  0% {
    transform: translate(620px, -10px);
  }

  50% {
    transform: translate(620px, 10px);
  }

  100% {
    transform: translate(620px, -10px);
  }
}

@keyframes drop5 {
  0% {
    transform: translate(145px, 10px);
  }

  50% {
    transform: translate(145px, -10px);
  }

  100% {
    transform: translate(145px, 10px);
  }
}

@keyframes drop6 {
  0% {
    transform: translate(-405px, -10px);
  }

  50% {
    transform: translate(-405px, 10px);
  }

  100% {
    transform: translate(-405px, -10px);
  }
}
