/* layout
------------------------------------------------------------*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-width: $base-width;
    font-family: $main-fonts;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: $main-text-cl;
    user-select: none;
    position: relative;
    overflow-x: hidden;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
    padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
}
//-------------------------------------------------------
