/* layout
------------------------------------------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include sp {
    font-size: 32.5%;
  }
}

body {
  min-width: $base-width;
  font-family: $main-fonts;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: $main-text-cl;
  user-select: none;
  position: relative;
  overflow-x: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  @include sp {
    min-width: 375px;
  }
}

//-------------------------------------------------------
main {
  // padding: 0px 0 100px;
}

section {
  // padding: 50px 0 90px;
}

a {
  display: block;
  text-decoration: none;
}

//-------------------------------------------------------
.l-container {
  width: $base-width;
  margin: 0 auto;
}

//-------------------------------------------------------
.l-wrapper {
  border: 30px solid transparent;
  border-image: url("../../_public/assets/img/bg-header.jpg") 30 round;

  @include sp {
    border: 15px solid transparent;
    border-image: url("../../_public/assets/img/bg-header.jpg") 15 round;
  }
}