<footer class="c-footer">
  <div class="c-footer__container">
    <div class="c-footer__wrapper">
      <ul class="c-footer__contact">
        <li>
          <p>商品に関するお問い合わせは</p>
        </li>
        <li>
          <p>健栄製薬株式会社</p>
        </li>
        <li>
          <p>
            TEL |
            06-6231-5626&emsp;受付時間&ensp;|&ensp;8:45〜17:30(土日祝日を除く)
          </p>
        </li>
      </ul>

      <div class="c-footer__logo">
        <a href="#">
          <figure>
            <img src="../_public/assets/img/logo_kenei.png" alt="logo-kenei" class="c-footer__img">
          </figure>
        </a>
        <p>©KENEI Pharmaceutical</p>
      </div>
    </div>
  </div>
</footer>